body{
    margin:0;
 }
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    
    background-color: lightgray;
}
header div{
    padding: 0.5rem 1rem;
}
.hero-banner {
    padding:2rem 4rem;
}
.main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding:1rem 4rem;
    
}
.main-content div{
    padding-right: 2rem;
}
footer{
    padding:2rem 4rem 0rem 4rem;
}

@media screen and (max-width: 600px){
    .main-content{
    flex-direction: column;
    padding-bottom: 0rem;
    }
    .main-content div{
        padding-right: 0rem;
    }
}